@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Courier New', Courier, monospace;
  /* background-image: url('/background/gerson-repreza-large.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
